@model SMS_MVCAPP.Models.Entities.Admin

    @{ Layout = null;}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Design by foolishdeveloper.com -->
    <title>PIEMART- REGISTER -LOGIN</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

</head>
<body>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form asp-action="CreateAdmin">
    <h3>PIEMALL</h3>

    <label for="email" asp-for="Email"></label>
    <input type="email" placeholder="example@mail.com" id="email" name="Email">

    <label  for="fname" asp-for="FirstName"></label>
    <input type="text" placeholder="First Name" id="fname" name="FirstName">


    <label  for="lname" asp-for="LastName"></label>
    <input type="text" placeholder="Last Name" id="lname" name="LastName" >
    
    
    <label  for="gen" asp-for="Gender"></label>
    <input type="text" placeholder="Gender" id="gen" name="Gender">

    
    <label for="addr" asp-for="HomeAddress"></label>
    <input type="text" placeholder="Home Address" id="addr" name="HomeAddress" >

    
    <label for="pno" asp-for="PhoneNumber"></label>
    <input type="tel" id="pno" pattern="[0]{1}[7-9]{1}[0-1]{1}[0-9]{8}" placeholder="08123456789" name="PhoneNumber">


    
    <label for="pwd" asp-for="Password"></label>
    <input placeholder="password" type="password" id="pwd" name="Password">

@* 
    <label for="password">Password <i class='fas fa-user-secret'></i></label>
    <input type="password" placeholder="Password" id="password"> *@

    <button><i class='fas fa-user-check'style='color:#080710'></i> Register </button>
    <div class="social">
        <div class="go"><a asp-action="CreateAdmin"><i class='fas fa-user-circle'></i> Register</a></div>
        <div class="fb"><a asp-action="LoginAdmin"><i class='fas fa-user-check'></i> Login</a> </div>
    </div>
</form>
</body>
</html>
