@model SMS_MVCAPP.Models.Entities.Admin
    @{ Layout = null;}
<!DOCTYPE html>
<html lang="en">
<head >
    <!-- Design by foolishdeveloper.com -->
    <title>PIEMART- REGISTER -LOGIN</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/login.css"/>

    </style>
</head>
<body>
<div class="background">

    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form asp-action="LoginAdmin">
    <h3>PIEMALL</h3>

    <label for="staffId">Staff ID <i class='far fa-address-card'></i></label>
    <input type="text" placeholder="Staff Id or Email" id="staffId" name="StaffId">

    <label for="password">Password <i class='fas fa-user-secret'></i></label>
    <input type="password" placeholder="Password" id="password" name="Password">

    <button><i class='fas fa-user-check'style='color:#080710'></i> Log In</button>

    <div class="social">

        <div class="go"><a asp-action="CreateAdmin"><i class='fas fa-user-circle'></i> Register</a> </div>
        <div class="fb"><a asp-action="LoginAdmin"><i class='fas fa-user-check'></i> Login</a> </div>

    </div>
</form>
</body>
</html>
