@model SMS_MVCAPP.Models.Entities.Admin
@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<div>
	<p>Update Admin password..</p>
</div>

<div>
	<a asp-action="GetAllAdmins"> Get All Admin..</a>
</div>

<div>
	<form asp-action="UpdateAdminPassword" method="post">
		<div>
			<input name="StaffId" value="@Model.StaffId" readonly />
		</div>

		<div>
			<label for="pwd" asp-for="Password"></label>
			<input type="password" id="pwd" name="Password" />
		</div>

		<div>
			<input type="submit" value="Submit" />
		</div>
	</form>
</div>
